<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990487077153-74ss0e94879mlfehdp3u4ki4mcbp2hcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990487077153-74ss0e94879mlfehdp3u4ki4mcbp2hcv</string>
	<key>API_KEY</key>
	<string>AIzaSyDyo6G8WmUZZGg2CoLYDh5fTzmwId0GQrc</string>
	<key>GCM_SENDER_ID</key>
	<string>990487077153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>teddy-kalp.YYCFoodTrucks-Operator</string>
	<key>PROJECT_ID</key>
	<string>yycfoodtrucks</string>
	<key>STORAGE_BUCKET</key>
	<string>yycfoodtrucks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990487077153:ios:70dde0721e99bc24611e60</string>
	<key>DATABASE_URL</key>
	<string>https://yycfoodtrucks.firebaseio.com</string>
</dict>
</plist>